.modalBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
    color: white;
    background: #5870a1;
    transition: all 0.25s ease;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.849);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: fit-content;
    height: fit-content;
    padding: 80px;
    background: white;
    color: black;
}

.heading {
    margin: 0;
    color: #2c3e50;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 1.5em;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-right: 0px;
}

.closeBtn:hover {
    background: #990000;
    color: white;
}