.App {
  text-align: center;
}

.header-title {
  font-size: 70px;
  color: #f4cc3b;
  text-align: center;
}

.app-container {
  margin: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.primaryBtn {
  color: white;
  background-color: #f4cc3b;
  border: 1px solid #f4cc3b;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 1.6rem;
}

.primaryBtn:focus {
  outline: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  text-align: center;
  font-size: 1.5rem;
}