:root {
  --primary-color: #f4cc3b;
  --background-color: #f4cc3b39;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #000000;
  color: var(----white-text);

  background-size: 60px 60px;
  background-image:
    linear-gradient(to right, var(--background-color) 1px, transparent 1px),
    linear-gradient(to top, var(--background-color) 1px, transparent 1px);
}